<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jawfish</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    
</head>
<body>
    <h1>JAWFISH</h1>

    <!-- Input -->
    <div class="container">
        <div class="row">
            <section class='col-med'>
                <form action="" id="src-input" class="input-group input-group-lg">
                    <input type="url" id="src-url">
                    <button id="submit" class="btn btn-primary">Submit</button>
                </form>
            </section>
            <section class='col-med'>
                <form action="" id="output" class="input-group input-group-lg">
                        <input type="text" id="output-url">
                </form>
            </section>
        </div>
        <div class="row">
            <section id="stage"></section>
        </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            const apiUrl = '//localhost/newurl';

            let longUrl = document.getElementById('src-input');
            shortUrl = document.getElementById('output-url');

            longUrl.addEventListener("submit", function(e) {
                e.preventDefault();

                let inputText = e.target[0].value;
                shortUrl.value = inputText;

                // const prom = fetch(apiUrl)
                //     .then(function(response) {
                //         return response.json();
                //     })
                //     .then(function(myJson) {
                //         console.log(JSON.stringify(myJson));
                //         shortUrl.value = myJson.title
                //     });

                const prom = fetch(apiUrl, {
                    method: "POST",
                    // mode: "cors", // no-cors, cors, *same-origin
                    // credentials: "same-origin", // include, same-origin, *omit
                    headers: {
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    // redirect: "follow", // manual, *follow, error
                    // referrer: "no-referrer", // no-referrer, *client
                    body: JSON.stringify({"sourceUrl": inputText}) // body data type must match "Content-Type" header
                })

                prom
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(myJson) {
                        console.log(JSON.stringify(myJson));
                        shortUrl.value = myJson.title
                    });

                // for iframe
                // const stage = document.getElementById('stage');
                // let iframe = document.createElement('iframe');
                // iframe.setAttribute('src', inputText);
                // console.log(iframe);
            });
        });
    </script>
</body>
</html>
