<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jawfish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    
</head>
<body>
<div>
    <h1>JAWFISH ANNOUNCES LAUNCH OF FLAGSHIP URL SHORTENER</h1>
<p>SAN FRANCISCO, CA., Aug. 31, 2018 /HolbertonNews/  -- Jawfish, the creators of jellycart.io and #fomopapers, have announced its newest venture. Jawfish will now offer a url shortener to its consumer.</p>

<p>Jawfish is proud to announce its series A round of funding, partnering with John Walecka of Redpoint Ventures. Redpoint Ventures is an American venture capital firm focused on investments in seed, early, and growth-stage companies that boast a portfolio consisting of MySpace, Twilio, Stripe, Zendesk, Heroku, and more!</p>

<p>Nick Teixeira, CEO and President, said, “I missed my boy’s graduation because the url was too long. I’m so excited to be working on a project that will change people’s lives.”</p>

<p>According to SEO experts at Search Metrics, the ideal url length consists of 15 characters versus the average 59 characters. Jawfish looks to offer a solution to this problem with its web application. The url shortener will be targeted to those in dealing with copy and script. This affords those in marketing more real estate to get across the company’s message rather than wasting character real estate on urls.</p>

<p>Sidney Burkett, CTO, said, “I had three wrist surgeries prior to jawfish. Now I use it to prevent carpal tunnel and have had zero surgeries since.”</p>

<p>About Jawfish
<img src="static/images/big_logo.png" alt="Jawfish logo" class="image-fluid">
Jawfish is a San Francisco based startup that offers a web application that provides users marketing solutions. Jawfish started out in a small 3 bedroom home in Menlo Park, CA with an initial hit product, jellycart.io, a blockchain shopping cart. The hard act was soon followed up with #fomopapers, a social media platform that allows the user to share stories of their experiences and tag friends that may or may not been invited. Now Jawfish is offering their url shortener in an effort to promote sharing and tracking online content.<p>

</div>
</body>
</html>
